@charset "utf-8";

/*
  Style Sheet
  Filename: styles.css
  Author: Kaley Moser
*/

body {
  background-color: coral;
}

header {
background-color: powderblue;
}

nav {
float: right;
}

.navbar {
width: 80%;
margin: 0 auto;
}
